header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000000;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.favorites{
    cursor: pointer;
    text-decoration: none;
    background-color: #E50914 ;
    padding: 8px 14px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}